In [1]:
from datetime import datetime

In [2]:
#To illustrate the order of arguments
my_year=2017
my_month=1
my_day=2
my_hour=13
my_minute=30
my_second=15

In [3]:
# January 2nd, 2017
my_date=datetime(my_year,my_month,my_day)

In [4]:
#Defaults to 0:00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [5]:
# January 2nd, 2017 at 13:30:15
my_date_time=datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [6]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

# You can grab any part of the datetime object you want

In [7]:
my_date.day

2

In [8]:
my_date_time.hour

13

# Numpy Datetime Arrays
We mentioned that

In [9]:
import numpy as np

In [10]:
# Create an array from three dates
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64')

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [11]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[h]')

array(['2016-03-15T00', '2017-05-24T00', '2018-08-09T00'],
      dtype='datetime64[h]')

In [12]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[Y]')

array(['2016', '2017', '2018'], dtype='datetime64[Y]')

# Numpy Date Ranges
Just as np.arrange(start,stop,step) can be used to produce an array of evently-spaced integers,
we can pass a dtype argument to obtain an array of date.

In [13]:
# an array of dates from 06-08-2018 to 6-22-2018 spaced one week apart
np.arange('2018-06-01','2018-06-22',7,dtype='datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15'], dtype='datetime64[D]')

In [14]:
#By omittimng the step we can obtain every value based on the precision.

In [16]:
#An array od dates for every year from 1968 to 1975
np.arange('1968','1976',dtype='datetime64[Y]')

array(['1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975'],
      dtype='datetime64[Y]')

# Pandas Datetime Index
we will usually deal with time series as a datetime index when working with pandas dataframes.
Fortunatly pandas has a lot of functions and methods works with series.

In [19]:
import pandas as pd

In [20]:
#The simplest way to build a Datetimeindex is with the pd.date_range() method:

In [23]:
#The week of july 8th, 2018
idx=pd.date_range('7/8/2018', periods=7, freq='D')
idx

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

# Datetime Index frequencies:
When we used pd.date_range() above, we had pass in a frequency
parameter 'D'. This created a seires of 7 days spaced one dat apart. We will cover the topic
in depth.

In [24]:
#Another way is to convert incoming text with the pd.to_datetime() method:

In [31]:
idx=pd.to_datetime(['Jan 01, 2018','01/02/18','03-Jan-2018',None],format='mixed')
idx

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
#A 3rd way is pass a list or an array of datetime objects into the pd.DatetimeIndex() method:

In [34]:
# Create a numpy datetime array
some_dates=np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[D]')
some_dates

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [35]:
# Convert to an index
idx=pd.DatetimeIndex(some_dates)
idx

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[s]', freq=None)

# Pandas Datetime Analysis

In [36]:
#create some random data
data=np.random.randn(3,2)
cols=['A','B']
print(data)

[[ 0.79546771 -2.36434891]
 [ 1.49349807 -1.31244308]
 [ 0.03672594 -0.47580399]]

In [37]:
#Create a DataFrame with our random data, our date index, and our columns
df=pd.DataFrame(data,idx,cols)
df

                   A         B
2016-03-15  0.795468 -2.364349
2017-05-24  1.493498 -1.312443
2018-08-09  0.036726 -0.475804

Now we can perform a typical analysis of our DataFrame.

In [38]:
df.index

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[s]', freq=None)

In [39]:
#Latest Date Value
df.index.max()

Timestamp('2018-08-09 00:00:00')

In [40]:
#Latest Date index location
df.index.argmax()

2

In [41]:
#Earliest Date value
df.index.min()

Timestamp('2016-03-15 00:00:00')

In [42]:
#Earliest Date Index Location
df.index.argmin()

0